{% block nav %}
    <span id="menu_toggle">&#9660;</span>
        <nav id="nav_links">
            <a id="home_btn" href="/"><button>Home</button></a>
            <a id="d_btn" href="/dashboard"><button>Dashboard</button></a>
            <a id="t_btn" href="/privacy"><button>Privacy</button></a>
            <a id="p_btn" href="/terms"><button>Terms</button></a>
            <a id="abt_btn" href="/about"><button>About</button></a>
            <button id="close">&times;</button>
        </nav>
{% endblock nav %}